<div class="question-block">
  <%= simple_form_for [@technology, @test, @question], class: 'question-form' do |f| %>
    <%= f.input :question_text %>
    <%= submit_tag('create', class: 'submit-btn') %>
  <% end %>
</div>
