<div class="container">
  <% if @found_techs.any? %>
  <h1>Found: <%= @found_techs.length %></h1>
  <div class="tech-container">
    <%= render @found_techs %>
  </div>
  <% else %>
    <h1>here's no any results, I'm so sorry (</h1>
  <% end %>
</div>
