// Place all the styles related to the technologies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tech-panel {
  display: flex;
  width: 400px;
  height: 100px;
  position: relative;

  .tech-icon {
    width: 100px;
    height: 100%;
  }
  .tech-info {
    height: 100%;
    width: 300px;
  }
  .contr-links {
    position: absolute;
    top: 0;
    right: 0;
  }
}