// Place all the styles related to the technologies controller here.
// They will automatically be included in app.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 1100px;
  margin: auto;
  position: relative;
  background: rgba(0, 0, 0, .7);
  min-height: 100%;

  .filters {
    padding: 20px;

    form {
      display: flex;

      .input-block {
        margin: 20px;
        color: #FF933D;
        font-family: Proxima-semibold;

        select {
          color: #FF933D;
          background-color: transparent;
          border: 1px solid #D9D9D9;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;

          option {
            background-color: transparent;
          }
        }
      }

      input:hover {
        border: 2px solid #FF933D;
        background-color: transparent;
        color: #FF933D;
        text-shadow: none;
        cursor: pointer;
      }

      input {
        height: 30px;
        width: 100px;
        background-color: #FF933D;
        color: #D9D9D9;
        margin-top: 67px;
        border: none;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        text-shadow: 0 0 5px #2E2E2E;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
      }
    }
  }

  .tech-container {
    width: 950px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .tech-panel:hover {
      border-color: #FF933D;
      color: #FF933D;
      cursor: pointer;
    }

    .tech-panel {
      display: flex;
      width: 400px;
      height: 100px;
      position: relative;
      margin-left: 30px;
      margin-top: 30px;
      border: 3px solid #D9D9D9;
      border-radius: 75px;
      padding: 10px;
      background-color: transparent;
      color: #D9D9D9;
      text-decoration: none;
      font-family: Lora-bold;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;

      p {
        margin-top: 5px;
        margin-left: 0;
      }
      h2 {
        margin-bottom: 10px;
      }
      .tech-icon {
        width: 100px;
        height: 100%;
        display: block;
        border-radius: 50%;
        border: 1px solid black;
      }
      .tech-progress {
        width: 100px;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
      }
      .tech-info {
        height: 100%;
        width: 300px;
        margin-left: 10px;
      }
      .contr-links {
        position: absolute;
        top: 20px;
        right: 20px;
        visibility: hidden;
      }
      .score-container {
        position: absolute;
        bottom: 5px;
        right: 40px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        .views-block, .rating-block {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
        }

        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }
  }

  .tech-title {
    display: flex;

    h2 {
      color: #D9D9D9;
      margin-left: 20px;
      font-family: Proxima-semibold;
    }
    .tech-icon {
      width: 70px;
      height: 70px;
    }
  }

  .technology-description {
    color: #D9D9D9;
    font-family: Proxima-semibold;
    margin-left: 20px;
  }

  h1 {
    color: #D9D9D9;
    text-align: center;
    font-family: Proxima-bold;
  }

  .tech-themes {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    .theme, .theme a {
      font-size: 20px;
      color: #D9D9D9;
      text-decoration: none;
      font-family: Proxima-reg;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
    }
    .theme:hover, .theme:hover a{
      color: #FF933D;
      cursor: pointer;
    }
  }
}
