<div class="container">
  <%= react_component('MainPage/TechList', { viewsImage: views_image,
                                    ratingImage: rating_image,
                                    emptyPhoto: no_photo,
                                    isAdmin: current_user.admin?,
                                    categories: @categories,
                                    sortOptions: technologies_sort_options }) %>
</div>
