<div class="notification">
  <h1>Are you sure that you want to start?</h1>
  <%= link_to 'start test',
              test_start_path(@test.technology, @test), method: :post %>
</div>
<% if current_user.admin? %>
<div class="tests-container">
  <% @test.questions.each do |question| %>
    <%= render 'edit_form', question: question %>
  <% end %>
</div>
<% end %>
