<div class="tests-container">
  <%= render @test.questions if @test.questions.any? %>
  <%= link_to 'Finish',
              test_finish_path,
              remote: true,
              id: 'finish-test',
              method: :post %>
</div>
