<div class="tests-container">

  <%= react_component('test/TestOperation', {
      technology_id: @test.technology.id,
      test: @test
  }) %>
  <%= link_to 'Finish',
              test_finish_path,
              remote: true,
              id: 'finish-test',
              method: :post %>
</div>
