<!DOCTYPE html>
<html>
  <head>
    <title>KnowledgeTracker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
